<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Welcome to The Newsroom, <%= @user.first_name %>!</h1>
  <p>
    Your registration id successfull. 
  </p>
  <p>
    To login to the site, just follow this link: <span><%= link_to "Login", @url, data: { turbo: false } %></span>
  </p>
  <p>Thank you for subscribing to our website and have a great day ahead!</p>
</body>
</html>