<body class="app-common-container">
    <%= render "partials/common_header" %>
    <main class="sub-heading-content">
        <div class="sub-heading-header">
            <div class="tab-header">
                <h3> New Article</h3>
            </div>
        </div>
        <%= render "partials/article_form", url: articles_path(@article), action: "new" %>
    </main>
</body> 