
<body>
    <header>
        <div class="nav-buttons">
            <div class="login-container">
                <%= icon "user" %>
                <span><%= link_to "Login", "", class: "home-login-link" %></span>
            </div>
        </div>
    </header>
    <main>
        <div class="main-content">   
            <h1>The Newsroom</h1>
            <p>News, Articles, Current affairs, Game reviews and more... <span><%= link_to "Join", "", class: "home-register-link" %></span></p>
        </div>
    </main>
    <footer>
        <p> © Copyright 2025 The Newsroom - Vijay DA. All rights reserved. </p>
    </footer>
</body>