/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.app-common-container {
    background-color: #242326;
    padding: 1%;
    width: 85vw;
    margin: 0 auto;
}

.sub-heading-header{
    /* display: flex; */
}

.sub-heading-content{
    margin-top: 10px;
}

.pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.first a, .prev a, .page a, .next a, .last a{
    text-decoration: none;
    color:  #efd8ba;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.current{
    background-color: #f5e5da;
    padding: 2px;
    border-radius: 2px;
    color: #242326;
    text-decoration: none;
    font-weight: bold;
}

.first a:hover, .prev a:hover, .page a:hover, .next a:hover, .last a:hover{
    background-color: #f5e5da;
    padding: 2px;
    border-radius: 2px;
    color: #242326;
}