.sub-heading-navbar{
    border-bottom: 4px groove rgb(51 47 47);
}

.sub-heading-navbar ul{
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center; 
}

.sub-heading-navbar li{
  position: relative;
  margin: 5px 10px;
  padding: 10px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.article-links a{
  display: block;
  text-decoration: none;
  font-family: monospace;
  font-size: medium;
  color: #efd8ba;
}

.sub-heading-navbar ul li:hover{
  background-color: rgb(248, 216, 175);
  border-radius: 2px;
  color: black;
  a{
    color: black;
  }
}

.new-article{
  margin-top: 10px;
}

.latest-articles{
  border-bottom: 4px groove rgb(51 47 47);
}

.latest-article-heading{
  color: antiquewhite;
}

.latest-articles-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4px;
}

.latest-individual-headline{
  flex: 1;
  border-right: 1px dashed blue;
  padding: 15px;
}

.latest-individual-headline:last-child {
  border-right: none;
}

.article-navigation{
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.article-view-back{
  float: left;
  text-decoration: none;
  color: #eebb79;
}

.article-view-edit{
  float: right;
  text-decoration: none;
  color: #eebb79;
}

.article-body{
  background-color:antiquewhite;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.article-body h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.article-content{
  margin-left: 25%;
  margin-right: 25%;
}