.dashboard-container{
}
.dashboard-heading{
  display: flex;
  align-items: anchor-center;
  border-bottom: 2px groove rgb(116, 103, 103);
  height: 7vh;
}

.dashboard-header-content {
  flex: 1; 
  padding: 10px; 
  margin: 5px; 
  gap: 30px;
  align-items: anchor-center;
}

.dashboard-header{
  text-align: center;
  color: #efd8ba;
}

.dashboard-header-link{
  text-decoration: none;
  color: #efd8ba;
}

.account-links{
  display: flex;
  justify-content: flex-end;
}

.user-account{
  display: flex;
  align-items: center;
  gap: 4px;
  border-right: 2px groove #efd8ba;
  padding-right: 28px;
}

.user-account-link, .logout-link, .dashboard-date-field{
  text-decoration: none;
  font-family: monospace;
  font-size: medium;
  font-weight: bold;
  color: #efd8ba;
}

.user-account-link:hover, .logout-link:hover{
  background-color: #f5e5da;
  padding: 2px;
  border-radius: 2px;
  color: #242326;
}

.dashboard-navbar{
    border-bottom: 2px groove rgb(116, 103, 103);
}

.dashboard-navbar ul{
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center; 
}

.dashboard-navbar li{
  margin: 15px 20px;
  transition: background-color 0.3s ease;
}

.dashboard-links a{
  text-decoration: none;
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  color: #efd8ba;
}

.active{
  background-color: #f5e5da;
  padding: 2px;
  border-radius: 2px;
}
.active a{
  color: #242326;
}