.app-home-page{
    height: 100vh;
    width: 100vw;
    background-image: url('home_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 
}

.nav-buttons{
    background-color: rgb(220 122 82);
    position: fixed;
    left: 0;
    top: 0;
    width: 98%;
    padding: 20px;
}

.login-container{
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    gap: 4px;
}

.home-login-link:hover {
    background-color: #f5e5da;
    padding: 2px;
    border-radius: 2px;
}

.main-content{
    text-align: center;
    padding: 20px;
    background-color: #242326;
    color: #efd8ba;
    position: fixed;
    left: 0;
    right: 0;
    top: 35%;
    bottom: 45%;
    width: 100%;
    font-family: monospace;
    font-weight:bold;
    font-size: large;
}

.home-page-footer {
    background-color: #796fa1;
    padding: 5px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: monospace;
    font-size: inherit;
}

.home-register-link{
    color: red;
    text-decoration: none;
    font-family: monospace;
    transition: background-color 0.3s ease; 
}

.home-register-link:hover {
    background-color: #f78686;
    color: black;
    padding: 2px;
    border-radius: 2px;
}

.home-login-link{
    color: rgb(3, 0, 0);
    text-decoration: none;
    font-family: monospace;
    font-weight:bold;
    font-size: larger;
}